body {
  background-image: url("../assets/images/background.jpg");
  background-color: hsl(97.7, 38.7%, 56.5%);
  height: 1282px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  text-align: center;
  margin-bottom: 32px;
  text-shadow: 2px 2px hsl(0, 0%, 100%);
}

.jumbotron {
  margin-top: 32px;
  padding-bottom: 0;
  background-color: hsla(210, 3%, 94%, 0.8);
}

#btn-convert {
  float: right;
  margin-bottom: 4rem;
}

#results, #rates {
  display: none;
  margin-top: 16px;
}

#show-errors {
  display: none;
  text-align: center;
  width: 80%;
  margin: auto;
  padding-bottom: 16px;
  color: hsl(0, 100%, 50%);
}

#disclaimer {
  color: hsl(0, 0%, 100%);
  text-shadow: 2px 2px hsl(0, 0%, 0%);
  font-style: italic;
  position: fixed;
  top: auto;
  bottom: 0;
}

a#api-home {
  color: hsl(0, 0%, 100%);
}