body {
  background-image: url("../assets/images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.header {
  text-align: center;
  margin-bottom: 32px;
  text-shadow: 2px 2px hsl(0, 100%, 100%);
}

.jumbotron {
  margin-top: 32px;
  padding-bottom: 0;
  background-color: hsla(210, 3%, 94%, 0.8);
}

#btn-convert {
  float: right;
  margin-bottom: 4rem;
}

#results, #rates {
  display: none;
  margin-top: 16px;
}